@font-face {
	font-family: 'rubik';
	src: url('../../fonts/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'segoe';
	src: url('../../fonts/segoe-mdl2-assets.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lato';
	src: url('../../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'lato';
}

#app-container {
    display         : block;
    //height          : 100vh;
    width           : 100%;
    background-color: #F4F4F4;
    @media screen and (max-width: 768px) {
        display: inline-block;
        height: 100%;
    }
}

html {
    @media only screen and (max-width: 1280px) {
        font-size: 12px;
    }

    @media (min-width: 1280px) and (max-width: 1440px) {
        font-size: 14px;
    }
}

a:hover {
    text-decoration: none;
}

.progress {
    background-color: rgb(217, 157, 67);
    height          : 0.4rem;
    margin-top      : 10px;
}

.show-dropdown {
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #3C71DA;
}

.gray{
    color: transparent;
    text-shadow: grey 0px 0px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.recharts-wrapper{
    width: 100% !important;
    > svg{
        width: 100%;
    }
    .recharts-xAxis{
        display: none;
    }
}

.row{
    // width: 100%;
}

.w-100{
    width: 100%;
}

.w-30{
    width: 30px;
}

.mr-10{
    margin-right: 10px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-15{
    margin-top: 15px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.primary-button {
    width           : 100%;
    max-width       : 200px;
    margin          : 1rem auto 0 auto;
    display         : block;
    background-color: #f8b94b;
    font-size       : 1.3rem;
    border-radius   : 0.4rem;
    padding         : 0.3rem;
}

.link-address{
    color: white;
    &:hover{
        color: #ff4a21;
    }
}

.dashboard-chart{
    height: 150px !important;
}

.dashboard-wrapper{
    padding: 0 15px 30px 0;
}

.mobile-mb-20{
    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.loading {
    display          : inline-block;
    width            : 50px;
    height           : 50px;
    border           : 5px solid rgba(#f8b94b, 0.2);
    border-radius    : 50%;
    border-top-color : #f8b94b;
    animation        : spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left             : calc(50% - 15px);
    top              : calc(50% - 15px);
    position         : fixed;
    z-index          : 1;
}

.modal-loading {
    display          : inline-block;
    width            : 50px;
    height           : 50px;
    border           : 5px solid rgba(#f8b94b, 0.2);
    border-radius    : 50%;
    border-top-color : #f8b94b;
    animation        : spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    z-index          : 1;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.status-circle{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #09d395;
    margin-right: 21px;
}

.cursor-pointer{
    cursor: pointer;
}

.button-disabled{
    background-color: #d3d3d3 !important;
    background-image: none !important;
}

.container-fluid{
    min-height: 90vh;
}

.border-0{
    border: 0;
}

.pb-0{
    padding-bottom: 0;
}

.sigCanvas{
    width: 100%;
    height: 200px;
}
